{% extends 'posts/base.html' %}

{% block content %}
<section class="about">
    <h1>{{ title }}</h1>
    <h4>Одной из главных проблем, которую мы решаем с помощью этого проекта, является недостаток признания и поддержки жён
    военнослужащих. Жёны наших героев играют огромную роль в жизни своих мужей и семей, но часто они остаются незамеченными
    и не получают достаточного признания за свои труды и жертвы.</h4>
    <h2>Наши планы</h2>
    <h4>Охватить все города России и объединить всех жён наших Героев на одной платформе. Рассказывать их истории, проводить
        выставки и конкурсы</h4>
</section>
{% endblock content %}