{% extends 'posts/base.html' %}

{% block content %}
<section class="add">
    <h1>{{title}}</h1>
    <form action="{% url 'post_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}    
        {% for f in form %}
        <p><label class="form__label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form__error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Добавить</button>
    </form>
</section>
{% endblock %}


